<div class="dashboard-container">
    <app-header></app-header>
  
    <div class="content">
      <div class="left-section">
        <div class="image-container">
          <img src="assets/images/elderly-couple.png" alt="Elderly Couple" class="profile-image" />
        </div>
      </div>
  
      <div class="right-section">
        <h2>Let’s get started filling out your profile</h2>
        <p>
          The best way for us to get you the right kind of help is to know you as well as possible.
        </p>
        <button class="start-btn" (click)="goToAssesment1()">Start</button>
      </div>
    </div>
    <app-footer></app-footer>
      
  </div>
  