<div class="dashboard-container">
    <app-header></app-header>
  
    <div class="row">
      <div class="col-12 col-md-5">
        <div class="image_container w-100 d-flex justify-content-center align-items-center">
            <img src="assets/images/elderly-couple.png" alt="" class="image_center">
        </div>
      </div>
      <div class="col-12 col-md-7 d-flex align-items-center">
        <div class="right_section">
          <h2 class="main_heading mb-4">Let’s get started filling out your profile</h2>
          <p class="text_content mb-0" >
            The best way for us to get you the right kind of help is to know you as well as possible.
          </p>
          <button class="start-btn" (click)="goToAssesment1()">Start</button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
      
</div>
  